footer {
    color: #BEE7E9!important;
}

footer span {
    color: #BEE7E9!important;
}

.beian {
    color: #BEE7E9!important;
}

.beian span {
    color: #BEE7E9!important;
}

.beian a {
    color: #BEE7E9!important;
}